<!doctype html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <h1>Recent Transactions</h1>
	<h3>
            <a href='/'>Home</a>
	    <a href='/trade'>Enter transaction</a>
	    <a href='/newstock'>Track new stock</a>
	    <a href='/transactions?page=0&pagesize=10'>View transactions</a>
	    <a href='/logout'>Logout</a>
	</h3>
	
        <div id="transactions" class="input-group-lg center-block helloInput col-lg-12">
            {{ portfolioname }}
	    <div class="category">
                <div class="row">
		    <div class="stockheader col-lg-1">Date</div>
		    <div class="stockheader col-lg-1">Security</div>
		    <div class="stockheader col-lg-1">Action</div>
		    <div class="stockheader col-lg-1">Qty</div>
		    <div class="stockheader col-lg-1">Price</div>
		    <div class="stockheader col-lg-1">Fee</div>
		    <div class="stockheader col-lg-6">Transaction ID</div>
		</div>
                {% for t in transactions %}
                <div class="row stockrow">
                    {% for d in t['key'] %}
                    <div class="stockline col-lg-1">{{ d }}</div>
                    {% endfor %}
                    <div class="stockline col-lg-6">{{ t.id }}</div>
                </div>
                {% endfor %}
            </div>
            <div>
                <a href='/transactions?page={{ prev }}'>Previous</a></td><td>---</td><td><a href='/transactions?page={{ next }}'>Next</a>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
